<a class="pane__overlay" href="#{{route.baseUrl}}/{{uid}}"></a>
<div class="pane__subtitle long-line line-ellipsis">{{fullName}}</div>
<h2 class="pane__title">
    <span class="label label_status_{{status}}">{{status}}</span>
    <span class="pane__controls">
        <a class="fa fa-expand pane__expand" data-tooltip="Expand" href="#{{route.baseUrl}}/{{uid}}?expanded=true"></a>
        <a class="fa fa-compress pane__collapse" data-tooltip="Collapse" href="#{{route.baseUrl}}/{{uid}}"></a>
        <a class="fa fa-close" data-tooltip="Close" href="#{{route.baseUrl}}"></a>
    </span>
    {{name}}
</h2>
<ul class="testcase__tabs">
    <li class="testcase__tab testcase__tab_active"><a class="link" href="#{{route.baseUrl}}/{{uid}}">Execution</a></li>
    <li class="testcase__tab"><a class="link" href="#{{route.baseUrl}}/{{uid}}/history">History</a></li>
    <li class="testcase__tab"><a class="link" href="#{{route.baseUrl}}/{{uid}}/comments">Comments</a></li>
</ul>
<div class="testcase__content"></div>
